    p {
        color: #;
    }
    
    body {
        background-image: url("http://images6.fanpop.com/image/photos/36900000/pink-colour-pink-color-36912356-2560-1440.jpg")
    }
   #navbar{
        text-align:center; 
    }
    
    #navbar a{
        color:black;
    }